In [1]:
# Imports
import numpy as np
import pandas as pd
import math

# Question 1

You are provided with the following training data set  
|           | refund     | marital_status  | income_above_80k | cheat      |
|-----------|------------|-----------------|------------------|------------|
|     1     |     yes    |     single      |     yes          |     no     |
|     2     |     no     |     married     |     yes          |     no     |
|     3     |     no     |     single      |     no           |     no     |
|     4     |     yes    |     married     |     yes          |     no     |
|     5     |     no     |     divorced    |     yes          |     yes    |
|     6     |     no     |     married     |     no           |     no     |
|     7     |     yes    |     divorced    |     yes          |     no     |
|     8     |     no     |     single      |     yes          |     yes    |
|     9     |     no     |     married     |     no           |     no     |
|     10    |     no     |     single      |     yes          |     yes    |gle	yes	yes
The data is to be used to predict whether individuals will cheat in filing their taxes or not. The attributes are refund, indicating whether an individual received tax refund or not, marital_status indicating whether the individual is married, single, or divorced, the income_above_80k, indicating whether an individual’s taxable income is above $80,000 or not. The output variable, cheat, is a binary variable indicating whether an individual cheated in filing taxes or not. 
The following decision tree can be used to extract the classification rulefor the data provided.

![Decision Tree](./decisiontree.png)

## A
Write an IF-THEN rule derived from this decision tree, that can be used to classify instances in the data suppose your desire is to predict “yes” for the output variable.

Rule 1:
IF Refund == "YES"
Then Predict == "No"

Rule 2: 
IF Refund == "No"
AND Income_above_80k == "No"
Then Predict == "No"

Rule 3:
IF Refund == "No"
AND Income_above_80k == "Yes"
AND Marital_status == "Married"
Then Predict == "No"

Rule 4:
IF Refund == "No"
AND Income_above_80k == "Yes"
AND Marital_status == "Single or divorced"
Then Predict == "Yes"

Rule set:
{Rule 1 & Rule 2 & Rule 3 | Rule 4}

However, we can see that rule 4 is the best rule, as it directly predicts the output without the need of the other 3 rules.

## B 
In code, create a function with an if-else statement to implement the rule you wrote above in question 1a. You can name the function predict. The function takes the input data and returns a vector of predicted output values. You can decide if you want your function’s input data argument to be a numpy array or a data frame, ,then structure your function body to process the input data accordingly. Provide some brief document of your function. You can loop through each instance in the input data and assess whether the instance satisfies the rule for predicting “yes” or not. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0.

In [2]:
def predict(df):
    """
    Description:

    Predicts whether an individual will cheat on their taxes or not

    Inputs:

    Receives a Pandas DataFrame

    Outputs:

    Outputs a Numpy array of type in
    """
    # Create an empty array filled with NAN. Those that remain as NAN were not affected by the rule, which can be used for coverage
    result = np.full(df.shape[0], np.nan)
    for i in df.index:
        if (df["refund"][i] == "Yes"):
            result[i-1] = 0
        else:
            if (df["income_above_80k"][i] == "No"):
                result[i-1] = 0
            else:
                if (df["Marital_status"][i] == "Married"):
                    result[i-1] = 0
                else:
                    result[i-1] = 1
    # This could simply be substituted by:
    # for i in df.index:
    #     if (df["refund"][i] == "No") & (df["income_above_80k"][i] == "Yes") & ((df["Marital_status"][i] == "Single") | (df["Marital_status"][i] == "Divorced")):
    #         result.append(1)
    #     else:
    #         result.append(0)
    return result.astype(int)

## C
Create another function that implements the rule for predicting “yes” for the output, but this time, you will not use if-else statement or a loop. Rather use numpy arrays, matrices or vector to vectorize your code for faster and more efficient implementation. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0. You can use logical operators for such implementation to compare values of test instances to values of attributes in the rule. This function still takes the input data and returns a vector of predicted values. You can call this function vectorized_predict.

In [3]:
def vectorized_predict(df):
    """
    Description:

    Predicts whether an individual will cheat on their taxes or not

    Inputs:

    Receives a Pandas DataFrame

    Outputs:

    Outputs a Numpy array of type in
    """
    result = []
    #rule_1 = (df["refund"] == "Yes")
    #rule_2 = (df["refund"] == "No") & (df["income_above_80k"] == "No")
    #rule_3 = (df["refund"] == "No") & (df["income_above_80k"] == "Yes") & (df["Marital_status"] == "Married")
    rule_4 = (df["refund"] == "No") & (df["income_above_80k"] == "Yes") & ((df["Marital_status"] == "Single") | (df["Marital_status"] == "Divorced"))
    #predicted_no_filter = rule_1 & rule_2 & rule_3
    predicted_yes_filter = rule_4
    result = np.where(predicted_yes_filter,1,0)
    return result

## D
Select the input data (refund, marital_status, income_above_80k) in the training data and apply your predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values.

In [4]:
refund = np.array(["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"])
marital_status = np.array(["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"])
income_above_80k = np.array(["Yes", "Yes","No", "Yes", "Yes","No", "Yes", "Yes","No", "Yes"])
cheat = np.array(["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"])
data = pd.DataFrame(data = [refund, marital_status, income_above_80k, cheat])
data = data.T
# Index is increased by one to match the provided dataset
data.index+=1
data.columns = ["refund", "Marital_status", "income_above_80k", "cheat"]
data

   refund Marital_status income_above_80k cheat
1     Yes         Single              Yes    No
2      No        Married              Yes    No
3      No         Single               No    No
4     Yes        Married              Yes    No
5      No       Divorced              Yes   Yes
6      No        Married               No    No
7     Yes       Divorced              Yes    No
8      No         Single              Yes   Yes
9      No        Married               No    No
10     No         Single              Yes   Yes

In [5]:
predict(data)

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 1])

## E
Select the input data (refund, marital_status, income_above_80k) in the training data and apply your vectorized_predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values. Are the predicted values with the vectorized_predict function the same as the predicted values obtained through the predict function? (you should have the same results).

In [6]:
vectorized_predict(data)

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 1])

In [7]:
predict(data) == vectorized_predict(data)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

## F
Include the predicted values as a column to the training data and name that column predicted_cheat.

In [8]:
data["predicted_cheat"] = vectorized_predict(data)
data

   refund Marital_status income_above_80k cheat  predicted_cheat
1     Yes         Single              Yes    No                0
2      No        Married              Yes    No                0
3      No         Single               No    No                0
4     Yes        Married              Yes    No                0
5      No       Divorced              Yes   Yes                1
6      No        Married               No    No                0
7     Yes       Divorced              Yes    No                0
8      No         Single              Yes   Yes                1
9      No        Married               No    No                0
10     No         Single              Yes   Yes                1

## G
Create a function that computes the overall accuracy of the classification. You can call this function overall_accuracy. The function should take two arguments, a vector of  actual output values and a vector of predicted output values, then returns the classification accuracy. Inside the function, you can use boolean logic to compare the actual and predicted values, then count the proportion of how many predicted values are equal to the actual values to get the overall accuracy.

In [9]:
def overall_accuracy(actual_output, predicted_output):
    """
    Description:

    Calculates the accuracy for the predicted values using the real values

    Inputs:

    Receives two vectors, one for the actual output, and one for the predicted output

    Outputs:

    Outputs the overall accuracy as a float
    """
    # Create an intermediary dataframe for easier manipulation
    temp = pd.DataFrame(data = [actual_output, predicted_output]).T
    temp.columns = ["Actual", "Predicted"]
    # Check the elements that were actually affected / covered by the rule
    temp = temp[temp["Predicted"].notna()].reset_index()
    instances_covered_by_rules = temp.shape[0]
    # Change from 0 to No. If it is already a no or yes, it does nothing
    temp["Predicted"] = np.where(temp["Predicted"] == 0, "No", "Yes")
    # Checks where the predicted equals the actual output
    correctly_classified = (temp.loc[(temp['Predicted'] == temp['Actual'])]).shape[0]
    return correctly_classified / instances_covered_by_rules

In [10]:
overall_accuracy(data["cheat"], data["predicted_cheat"])

1.0

## H
Create a confusion matrix using the predicted and actual output values. You can use pandas crosstab function.

In [11]:
data["predicted_cheat"] = np.where(data["predicted_cheat"] == 0, "No", "Yes")
pd.crosstab(data["cheat"], data["predicted_cheat"])

predicted_cheat  No  Yes
cheat
No                7    0
Yes               0    3

## I
Supose the test set data is as follows. 

|           | refund     | marital_status  | income_above_80k | cheat      |
|-----------|------------|-----------------|------------------|------------|
|     1     |     no     |     single      |     yes          |     no     |
|     2     |     no     |     single      |     yes          |     no     |
|     3     |     no     |     married     |     yes          |     no     |
|     4     |     no     |     divorced    |     no           |     no     |
|     5     |     no     |     married     |     yes          |     no     |
|     6     |     no     |     single      |     yes          |     no     |
|     7     |     yes    |     single      |     yes          |     no     |
|     8     |     no     |     single      |     yes          |     yes    |
|     9     |     yes    |     married     |     yes          |     yes    |
|     10    |     yes    |     single      |     no           |     yes    |

Apply the vectorized_predict function to the input of the test dataset to predict the output values for the test dataset. Include these predicted values as a column to the test dataset and called this column predicted_cheat.

In [12]:
refund = np.array(["No", "No", "No", "No", "No", "No","Yes", "No", "Yes", "Yes"])
marital_status = np.array(["Single", "Single", "Married", "Divorced", "Married", "Single", "Single", "Single","Married", "Single"])
income_above_80k = np.array(["Yes", "Yes", "Yes","No", "Yes", "Yes", "Yes", "Yes", "Yes","No"])
cheat = np.array(["No", "No", "No", "No", "No", "No", "No", "Yes", "Yes", "Yes"])
test = pd.DataFrame(data = [refund, marital_status, income_above_80k, cheat])
test = test.T
test.index+=1
test.columns = ["refund", "Marital_status", "income_above_80k", "cheat"]
test

   refund Marital_status income_above_80k cheat
1      No         Single              Yes    No
2      No         Single              Yes    No
3      No        Married              Yes    No
4      No       Divorced               No    No
5      No        Married              Yes    No
6      No         Single              Yes    No
7     Yes         Single              Yes    No
8      No         Single              Yes   Yes
9     Yes        Married              Yes   Yes
10    Yes         Single               No   Yes

In [13]:
test["predicted_cheat"] = vectorized_predict(test)
test

   refund Marital_status income_above_80k cheat  predicted_cheat
1      No         Single              Yes    No                1
2      No         Single              Yes    No                1
3      No        Married              Yes    No                0
4      No       Divorced               No    No                0
5      No        Married              Yes    No                0
6      No         Single              Yes    No                1
7     Yes         Single              Yes    No                0
8      No         Single              Yes   Yes                1
9     Yes        Married              Yes   Yes                0
10    Yes         Single               No   Yes                0

## J
Apply the overall_accuracy function to the predicted out values and actual output values of the test set to compute the overall accuracy. Compare the overall accuracy of the test set and that of the training set. Is there overfitting? Why or why not? If there is overfitting, what would you do to avoid overfitting the rule to the training set?

In [14]:
overall_accuracy(test["cheat"], test["predicted_cheat"])

0.5

# Question 2
You will use the same training dataset provided in question 1.  
Suppose we wanted to create one rule using only one attribute that best classifies the input data, you will need to write a function or an algorithm to find that best attribute. There are different approaches we can use to evaluate the best attritubute that will classify our data with the highest accuracy. One of the accuracy measures we can use to find the best attribute is information gain, which uses entropy.

## A
Given the training dataset in question 1, write a function that computes the entropy of output variable. The function should take the entire training dataset, and the name of the output variable as arguments and return the entropy value. You can call the function, entropy. 
None that $H(S)$ of the target variable $T$ with possible values $C_{i}$ for a set of $S$ examples is given by:  
$H(S) = \sum_{i=1}^{C} p_{i}*\log_{2}p_{i}$  
where $p_{i}$ is the proportion of class $c_{i}$ in the $S$ examples.  
Alternatively, you could also define entropy for a binary target variable as:  
![Entropy](./entropy.png)  
where p is the proportion of the desired class or proportion of "yes" in the given data.  
Apply the entropy function to the training dataset to compute the entropy. Do you think the data is more pure, less pure or more/less pure?

In [15]:
refund = np.array(["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"])
marital_status = np.array(["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"])
income_above_80k = np.array(["Yes", "Yes","No", "Yes", "Yes","No", "Yes", "Yes","No", "Yes"])
cheat = np.array(["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"])
data = pd.DataFrame(data = [refund, marital_status, income_above_80k, cheat])
data = data.T
# Index is increased by one to match the provided dataset
data.index+=1
data.columns = ["refund", "Marital_status", "income_above_80k", "cheat"]
data

   refund Marital_status income_above_80k cheat
1     Yes         Single              Yes    No
2      No        Married              Yes    No
3      No         Single               No    No
4     Yes        Married              Yes    No
5      No       Divorced              Yes   Yes
6      No        Married               No    No
7     Yes       Divorced              Yes    No
8      No         Single              Yes   Yes
9      No        Married               No    No
10     No         Single              Yes   Yes

In [16]:
def entropy(data, output_variable_name, expected_value):
    """
    Description:

    Calculates the entropy for a dataset with an output variable and the expected value for the output. Prepared only for binary data

    Inputs:

    Receives a dataset (Pandas DataFrame), the output variable (String), and the expected value for that output variable (String)

    Outputs:

    Returns the calculated entropy, which is a float
    """
    # Proportion of examples in class expected_value
    p = (data.loc[(data[output_variable_name] == expected_value)]).shape[0]
    p = p / data.shape[0]
    if p == 0: # As log of 0 is undefined, we need to decide what to do with it, so it is decided that when log(0) = 0
        return - (1 - p)*math.log2(1-p)
    entropy = -p * math.log2(p) - (1 - p)*math.log2(1-p)
    return entropy

In [17]:
entropy(data, "cheat", "Yes")

0.8812908992306927

This is quite a high entropy, so the purity of the data can be considered to be low.

## B
Create another function that takes the dataset, the name of the output variable, and a specific input variable as arguments and returns the information gain for a split of the data on that specific input variable. You can call the function, information_gain. Information gain is defined as:  
$Gain(S,A) = $H(S)$ - \sum_{vEValue(A)} \frac{|(S_{v}|}{|(S)|} H(S_{v})$  

where:  
A = candidate attribute  
v = possible values of A  
S = set of examples where A = v  

Apply the information_gain function to each input variable to compute the information gain for each input variable. Which input variables is the best (has the highest information gain) for creating one-rule?

In [18]:
def information_gain(data, output_variable_name, expected_output, input_variable_name):
    """
    Description:

    Calculates the Information gain for a given dataset, output variable, the expected output, and the input variable

    Inputs:

    Dataset (Pandas DataFrame), output variable name (String), expected output for the output variable (String), input variable (String)

    Outputs:

    Outputs the overall accuracy as a float
    """
    h_s = entropy(data, output_variable_name, expected_output)
    # Get all the possible values in the chosen input variable
    Av = data[input_variable_name].unique()
    sum_entropy = 0
    # For each of those possible values, calculate the entropy of the output variable and multiply it by the proportion of the subset over the total data
    for x in Av:
        subset = data[data[input_variable_name] == x]
        sum_entropy+= (subset.shape[0] / data.shape[0])*entropy(subset, "cheat", "Yes")
    return h_s - sum_entropy

In [19]:
IG = []
for c in data.columns[:-1]:
    IG.append(information_gain(data, "cheat", "Yes", c))
print(IG)

[0.19163120400671663, 0.2812908992306926, 0.19163120400671663]

It can be seen that the input variable with the highest information gain is [Marital_status]

## C
Do a cross tabulation using the best attribute obtained in 2b above and the output variable in the training dataset.

In [20]:
pd.crosstab(data["cheat"], data["Marital_status"])

Marital_status  Divorced  Married  Single
cheat
No                     1        4       2
Yes                    1        0       2

## D
Draw a decision tree (use shapes in the word document) to show how the best variable can be used for classification. This is a decision tree with a single node or single variable.

![Decision Tree](./decisiontree2.png)

## E
Create a one-rule from the decision tree in 2d. The rule should containing an antecedent and a consequent. The antecedent should use only the best attribute and it’s value or values.

As the instruction does not specify to create a function to perform this programatically, it can be simply declared:  
IF Marital_status == "Married" or Marital_status == "Single" or Marital_status == "Divorced"  
THEN cheat == "No"

It can be seen in the crosstab that married leads to no, but the other two possible values each add the same proportion in yes and no, so any value would give the same accuracy.

## F 
Using the antecedent of your rule, extract the data covered by the rule and compute the coverage of the rule.

In [21]:
# Every element is covered, as if refund is not yes, then cheat is no.
instances_covered_by_rule = data.shape[0]#test[test["Marital_status"] == "Yes"].shape[0]
total_number_of_instances = data.shape[0]
coverage = instances_covered_by_rule / total_number_of_instances
coverage

1.0

## G
Using the antecedent and precedent of your rule, extract the data covered by the rule and compute the accuracy of the rule.

In [22]:
# The rule basically predicts every output as a No
predicted = np.full(data.shape[0], "No")
predicted
temp = data[data["cheat"] == predicted]
covered_and_correctly_classified = temp.shape[0]
accuracy = covered_and_correctly_classified / instances_covered_by_rule
accuracy

0.7

## H
Create a function that implents the rule as an if-else statement to predict the outcomes of any instance (a vector of values associated with the input variables for a specific individual). The function should be able to take one or more instances as an argument in the form of a dataframe or numpy arrary.

In [23]:
def one_rule(df):
    # As the rule is basically (if any value of marital status, then output no), it can be simplified to:
    result = np.full(df.shape[0], "No")
    return result

In [24]:
#data = data.drop(["predicted_cheat"],axis=1)
result_training = one_rule(data)
data["predicted"] = result_training
data

   refund Marital_status income_above_80k cheat predicted
1     Yes         Single              Yes    No        No
2      No        Married              Yes    No        No
3      No         Single               No    No        No
4     Yes        Married              Yes    No        No
5      No       Divorced              Yes   Yes        No
6      No        Married               No    No        No
7     Yes       Divorced              Yes    No        No
8      No         Single              Yes   Yes        No
9      No        Married               No    No        No
10     No         Single              Yes   Yes        No

In [25]:
result_test = one_rule(test)
test["predicted"] = result_test
test

   refund Marital_status income_above_80k cheat  predicted_cheat predicted
1      No         Single              Yes    No                1        No
2      No         Single              Yes    No                1        No
3      No        Married              Yes    No                0        No
4      No       Divorced               No    No                0        No
5      No        Married              Yes    No                0        No
6      No         Single              Yes    No                1        No
7     Yes         Single              Yes    No                0        No
8      No         Single              Yes   Yes                1        No
9     Yes        Married              Yes   Yes                0        No
10    Yes         Single               No   Yes                0        No

## J
What is the overall prediction accuracies for the training set and test set? You can use the overall_accuracy function you initially defined.

In [26]:
instances_covered_by_rule = data.shape[0] # Every instance is covered in this case, as the column refund is a binary value, and the rule covers both
temp = data[data["cheat"] == data["predicted"]]
covered_and_correctly_classified = temp.shape[0]
accuracy = covered_and_correctly_classified / instances_covered_by_rule
print("Training data accuracy: {}".format(accuracy))

Training data accuracy: 0.7

In [27]:
#instances_covered_by_rule = test[test["refund"] == "Yes"].shape[0]
instances_covered_by_rule = test.shape[0]
temp = test[test["cheat"] == test["predicted"]]
covered_and_correctly_classified = temp.shape[0]
accuracy = covered_and_correctly_classified / instances_covered_by_rule
print("Test data accuracy: {}".format(accuracy))

Test data accuracy: 0.7

## K 
Do you think there is overfitting or underfitting? Why or why not?

There is no overfitting, as the accuracy for both the training and testing datasets are the same, which indicates that the rule is flexible enough to evaluate new data, while complex enough to correctly predict already seen data and new data.